*{
    margin: 0;
    padding: 0;

}


body{
    background: rgb(0, 0,0);
    color: white;
    font-family:"Roboto", sans-serif ;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1{
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background: linear-gradient( to top , #000dff, #ff00e6, #ff7700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    }

    .header p{
     font-size: 20px;
     display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    }
    

    work-section {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .work-section h2 {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 50px;
        background: linear-gradient( to top , #000dff, #ff00e6, #ff7700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .work-item {
        margin-bottom: 20px;
        display: flex;
        gap: 100px;
    }
    
    .work-item img {
       width: 300px;
       height: 250px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    
    }
    
    .all-works h3 {
        margin: 10px 0;
        font-size: 20px;
        color: white;
    }
    
    .work-item p {
        font-size: 25px;
        color: white;
        line-height: 1.5;
        margin-top: 50px;
    }

    .work-item img:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }
    