*{
    margin: 0;
    padding: 0;

}


body{
    background: rgb(0, 0,0);
    color: white;
    font-family:"Roboto", sans-serif ;  
}

.header h1{
font-size: 60px;
display: flex;
align-items: center;
justify-content: center;
margin-top: 20px;
background: linear-gradient( to top , #000dff, #ff00e6, #ff7700);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-decoration: none;
}
.header p{
    font-size: 20px;
    display: flex;
align-items: center;
justify-content: center;
margin-top: 60px;
}


.icons{
    display: flex;
align-items: center;
justify-content: space-evenly;
margin-top: 20px;
}
.icon-images{
    width: 200px;
    height: 200px;
}

.web p{
   font-size: 13px;
}

.skills-section {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin-top: 100px;
    padding-left: 30%;
}

.skill {
    margin-bottom: 10px;
}

.skill h3 {
    margin: 0;
    font-size: 15px;
}

.skill-bar {
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
    margin-top: 5px;
}

.skill-level {
    height: 10px;
    background: linear-gradient(45deg , #000dff, #ff00e6, #ff7700);
    border-radius: 25px;
    text-align: right;
    padding-right: 10px;
    color: #fff;
    line-height: 20px;
    font-size: 14px;
}